parameters:
  level: 8
  phpVersion: 80400

  paths:
    - Classes
    - Configuration
    - Tests

  tmpDir: .Build/phpstan

  excludePaths:
    - '**/node_modules/*'

  treatPhpDocTypesAsCertain: false
  checkMissingOverrideMethodAttribute: true

  typo3:
    containerXmlPath: null
    requestGetAttributeMapping:
      backend.user: TYPO3\CMS\Core\Authentication\BackendUserAuthentication|null
