<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:variable name="compactClass" value="" />
<f:if condition="{compactToolbar}">
    <f:variable name="compactClass" value=" wew-menu--compact-toolbar" />
</f:if>

<div class="wew-menu{compactClass}" data-wew-menu="">
    <f:render partial="Toolbar/Header" arguments="{config: config, payload: payload, pageUid: pageUid}" />
    <f:render partial="Toolbar/Filter" arguments="{config: config, changedCount: changedCount, totalCount: totalCount, viewMode: viewMode}" />
    <f:render partial="Toolbar/Body" arguments="{
        config: config,
        itemGroups: itemGroups,
        changedItemGroups: changedItemGroups,
        changedCount: changedCount,
        totalCount: totalCount,
        viewMode: viewMode,
        showSubelements: showSubelements
    }" />
    <f:render partial="Toolbar/Footer" arguments="{config: config, changedCount: changedCount}" />
    <f:render partial="Toolbar/ContextFootnote" arguments="{pageUid: pageUid, newsUid: newsUid}" />
</div>

</html>
