<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      data-namespace-typo3-fluid="true">

<div class="card-body text-center text-muted">
    <f:if condition="{iconIdentifier}">
        <div class="mb-2" aria-hidden="true">
            <core:icon identifier="{iconIdentifier}" size="large" />
        </div>
    </f:if>
    <p class="h4">{title}</p>
    <f:if condition="{hint}">
        <p class="mb-0">{hint}</p>
    </f:if>
</div>

</html>
