<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<header class="wew-section__head">
    <div class="wew-section__heading">
        <p class="wew-section__eyebrow">
            <f:translate key="LLL:EXT:webcon_easy_workspace/Resources/Private/Language/locallang.xlf:toolbar.title" />
        </p>
        <h2 class="wew-section__title">{title}</h2>
        <f:if condition="{subtitle}">
            <p class="wew-section__subtitle">{subtitle}</p>
        </f:if>
    </div>
    <f:if condition="{actions}">
        <div class="wew-section__head-actions">
            <f:format.raw>{actions}</f:format.raw>
        </div>
    </f:if>
    <f:if condition="{meta}">
        <div class="wew-section__head-meta">
            <f:format.raw>{meta}</f:format.raw>
        </div>
    </f:if>
</header>

</html>
